/* section */
.contacts {
    background-color: var(--dark-background);
    color: var(--normal);
    padding-top: 100px;
}

.contacts-line {
    width: 100%;
    height: 1px;
    background-color: var(--normal);
    position: fixed;
}

.breadcrumps {
    display: flex;
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    margin-top: 50px;
}

.breadcrumps-item::after {
    content: " / ";
    margin-left: 3px;
    margin-right: 4px;
}

.contacts-cols {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#contacts-form {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    margin-top: 56px;
}

#contacts-form input[type='text'], #contacts-form input[type='tel'] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--normal);
    padding: 8px 0;
    color: var(--normal);
    margin-bottom: 15px;
    outline: none;
}

.contacts-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: calc(100% / 2)
}


.contacts-right-item_caption {
    font-size: 32px;
    text-transform: uppercase;
}

.contacts-right-item_descr {
    font-size: 20px;
    max-width: 254px;
    display: flex;
    gap: 20px;
    margin-top: 22px;
    align-items: center;
}

.contacts-right-item_descr img {
    width: 25px;
    height: 25px;
}

#contacts-form span {
    color: rgb(118, 118, 118);
    font-size: 16px;
}

.contacts-form-link {
    text-decoration: underline;
}

#contacts-btn {
    margin-top: 60px;
    max-width: 180px;
    color: var(--normal);
    text-transform: uppercase;
}

.contacts-map {
    width: 100%;
    margin-top: 150px;
}



@media (max-width:1180px) {
    #contacts-form {
        max-width: 400px;
    }

    .contacts-right-item_caption {
        font-size: 28px;
    }

    .contacts-right-item_descr {
        max-width: 220px;
    }

    #contacts-btn {
        margin-top: 40px;
    }

    .contacts-map {
        margin-top: 100px;
    }

    #contacts-form input[type='text'], #contacts-form input[type='tel'] {
        border-radius: 0px;
    }
}

@media (max-width:980px) {
    .contacts {
        padding-top: 20px;
    }

    .contacts-line {
        display: none;
    }

    .contacts-cols {
        flex-direction: column-reverse;
    }

    .contacts-right {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 45px;
    }

    .contacts-right-item_caption {
        text-align: center;
    }

    .contacts-right-item_descr {
        max-width: 100%;
        gap: 10px;
        margin-top: 18px;
        justify-content: center;
    }

    .contacts-right-item_descr p {
        font-size: 20px;
    }

    .contacts-right-item_descr p>a {
        font-size: 20px;
    }

    #contacts-form {
        margin-top: 80px;
    }

    #contacts-btn {
        max-width: 100%;
    }
}