@font-face {
    font-family: 'Noah';
    src: url('../assets/fonts/Noah-Bold.ttf') format('ttf'),
        url('../assets/fonts/Noah-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noah';
    src: url('../assets/fonts/Noah-Regular.otf') format('otf'),
        url('../assets/fonts/Noah-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noah';
    src: url('../assets/fonts/Noah-BoldItalic.otf') format('otf'),
        url('../assets/fonts/Noah-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Noah';
    src: url('../assets/fonts/Noah-RegularItalic.otf') format('otf'),
        url('../assets/fonts/Noah-RegularItalic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

:root {
    --background-color: #ffffff;
    --dark-background: #1E232D;
    --accent: #FAA829;
    --hover: #767676;
    --normal: #E7E7E7;
    --primary-font: 'Noah', sans-serif;
}

button {
    background-color: var(--accent);
    border: none;
    border-radius: 4px;
    padding: 0 9px;
    height: 44px;
}

button:hover {
    background-color: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
}

header {
    background-color: var(--dark-background);
    color: var(--normal);
    position: fixed;
    height: 99px;
    width: 100%;
    z-index: 99;
}

.header-mobile {
    display: none;
}

h1 {
    margin-top: 60px;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0px;
    text-transform: uppercase;
}


.container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
/* checkbox */


/* header */

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-menu {
    text-transform: uppercase;
}


.nav-menu ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    font-size: 16px;
}

.recall {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

.recall-block {
    font-size: 16px;
    margin-left: 15px;
}

#recall-button {
    font-size: 16px;
    font-weight: 700;
}

.location-trigger {
    display: flex;
    gap: 9px;
}

.nav-icons {
    display: flex;
    gap: 20px;
}

.icon {
    position: relative;
    width: 42px;
    height: 42px;
    background: var(--normal);
    border-radius: 50%;
    display: block;
    cursor: pointer;
}

.icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    background: no-repeat center / contain url('../assets/icons/callback.svg');
    transform: translate(-50%, -50%);
}

.search-icon:before {
    background: no-repeat center / contain url('../assets/icons/search.svg');
}

.cart-icon::before {
    background: no-repeat center / contain url('../assets/icons/cart.svg');
}


.icon:hover {
    border: 1px solid var(--normal);
    background: transparent;
}

.icon-callback:hover:before {
    background: no-repeat center / contain url('../assets/icons/callback-hover.svg');
}

.search-icon:hover:before {
    background: no-repeat center / contain url('../assets/icons/search-hover.svg');
}

.cart-icon:hover:before {
    background: no-repeat center / contain url('../assets/icons/cart-hover.svg');
}

.searchbox {
    position: absolute;
    top: 30px;
    right: 60px;
    width: 430px;
    outline: none;
}

.searchbox input[type='text'] {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1 px solid var(--hover);
    border-radius: 10px;
    padding: 0 54px 0 23px;
    font-size: 14px;
    color: var(--hover);
    letter-spacing: 0.28px;
    z-index: 20;
    outline: none;
}

.searchbox button {
    position: absolute;
    top: 2px;
    right: 40px;
    width: 36px;
    height: 36px;
    background: no-repeat center / contain url('../assets/icons/search.svg');
    background-size: 15px;
    border: 0;
    background-color: var(--normal);
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    z-index: 30;
    outline: none;
}

.hidden {
    display: none;
}

.search-close {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: no-repeat center url('../assets/icons/search-close.svg');
    z-index: 30;

    cursor: pointer;
}

/* end header */

/*main page */
.main {
    padding-top: 100px;
}

/* end main page */

/* footer */
footer {
    background-color: var(--dark-background);
    padding: 65px 0;

}

.footer-callback-form_caption {
    text-transform: uppercase;
    margin-top: 56px;
    color: var(--normal);
}

.footer-callback-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 15px;
}

.footer-callback-form input[type='email'] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--normal);
    padding: 8px 0;
    color: var(--normal);
    margin-bottom: 15px;
    outline: none;
}

.footer-callback-form span {
    color: rgb(118, 118, 118);
    font-size: 16px;
}

#footer-callback-btn {
    max-width: 160px;
    margin-top: 30px;
    color: var(--normal);
    text-transform: uppercase;
}

.footer-cols {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    width: calc(100% / 1.5);
    color: var(--normal);
}

.footer-menu-item_group {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-menu-item_caption {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-menu-item ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

.footer-menu-item li {
    margin-top: 7px;
}

.footer-contact-item {
    display: flex;
    gap: 15px;
    margin-top: 12px;
}

.copyright {
    color: var(--normal);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.offer {
    margin-top: 30px;
    color: var(--normal);
}

.footer-showmore {
    display: block;
    text-decoration: underline;
    margin-top: 7px;
}

.footer-menu-item p {
    margin-top: 5px;
}

.tabbar {
    display: none;
}



/* adaptive */
@media (max-width:1180px) {
    * {
        font-size: 14px;
    }


    .recall {
        gap: 12px;
        justify-content: space-around;
    }

    .location-trigger {
        gap: 5px;
    }

    .location-trigger img {
        width: 14px;
    }

    .recall-block {
        margin-left: 0;
    }

    #recall-button {
        font-size: 12px;
        height: 36px;
    }

    footer {
        padding: 45px 0;
    }

}

@media (max-width:980px) {
    header {
        display: none;
    }

    h1 {
        font-size: 30px;
        margin-top: 18px;
    }

    .header-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        color: var(--normal);
        background-color: var(--dark-background);
        z-index: 99;
        padding-top: 10px;
    }

    .mobile-wrapper {
        height: 100%;
        max-width: 980px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .header-mobile-group {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-search {
        position: relative;
        display: block;
        width: calc(100% / 1.7);
        height: 45px;
        border-radius: 4px;
        padding-bottom: 8px;
    }

    .mobile-search input {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        padding: 0 10px;
        outline: none;
    }

    #mobile-search-submit {
        position: absolute;
        right: 0;
        z-index: 99;
        top: 2px;
        right: 5px;
        width: 36px;
        height: 36px;
        background: no-repeat center / contain url('../assets/icons/search.svg');
        background-size: 15px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding: 0;

        outline: none;

    }

    /* footer */
    footer {
        padding-bottom: 100px;
    }

    .footer-cols {
        flex-direction: column;
        gap: 50px;
    }

    .footer-callback-form {
        max-width: 100%;
    }

    #footer-callback-btn {
        max-width: 100%;
    }

    .footer-menu {
        width: 100%;
        flex-direction: column;
        gap: 35px;

    }

    .footer-menu-item_caption {
        margin-bottom: 10px;
    }

    .footer-menu-item ul {
        margin-top: 5px;
    }

    .footer-menu li {
        font-size: 18px;
    }

    /* navigation */
    .tabbar {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
        padding: 6px 10px;
        justify-content: space-around;
        background-color: var(--background-color);
        border-radius: 13px 13px 0px 0px;
        border: 1px solid #E7E7E7;
        z-index: 99;
        align-items: center;
    }

    .tabbar-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tabbar-item img {
        width: 22px;
        height: 22px;
    }

    .tabbar-item p {
        margin-top: 5px;
        font-size: 12px;
    }

    .tabbar-logo {
        width: 80px;
        height: 50px;
    }

    .tabbar-logo img {
        width: 100%;
        height: 100%;
    }

    .tabbar-active img {
        opacity: 0.75;
    }

}